<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user.nil? %>
        <p><%= link_to "ログイン", new_user_session_path %></p>
        <p><%= link_to "サインイン", new_user_registration_path %></p>
      <% else %>
        <p><%= link_to "サインアウト",  destroy_user_session_path, method: :delete %></p>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
